@{
    Layout = "~/Areas/Admin/views/shared/layout.cshtml";
}
@using QlBanOpDaDienThoai.Models;
@model QlBanOpDaDienThoai.Models.Slide;

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header pb-0">
                <h5>Basic form control</h5>
            </div>
            <form method="post" enctype="multipart/form-data" action="@ViewBag.action" class="form theme-form">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="col-sm-2 col-form-label">Slides Name</label>

                            <input class="form-control" name="Name" id="exampleFormControlInput1" type="text" value="@if(Model!=null){
                            <text>@Model.Name</text>
                            }"  >
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="col-form-label pt-0" for="exampleInputEmail1">Photo</label>
                    <input class="form-control" name="photo" type="file">
                </div>
                @*Title*@
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="col-sm-2 col-form-label">Title</label>

                            <input class="form-control" name="Title" id="exampleFormControlInput1" type="text" value="@if(Model!=null){
                            <text>@Model.Title</text>
                            }"  >
                        </div>
                    </div>
                </div>
                @*Title*@

                @*Sub-Title*@
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="col-sm-2 col-form-label">Sub Title</label>

                            <input class="form-control" name="SubTitle" id="exampleFormControlInput1" type="text" value="@if(Model!=null){
                            <text>@Model.SubTitle</text>
                            }"  >
                        </div>
                    </div>
                </div>
                @*Sub-Title*@

                @*Info*@
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="col-sm-2 col-form-label">Info</label>

                            <input class="form-control" name="Info" id="exampleFormControlInput1" type="text" value="@if(Model!=null){
                            <text>@Model.Info</text>
                            }"  >
                        </div>
                    </div>
                </div>
                @*Info*@

                @*Link*@
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="col-sm-2 col-form-label">Link</label>

                            <input class="form-control" name="Link" id="exampleFormControlInput1" type="text" value="@if(Model!=null){
                            <text>@Model.Link</text>
                            }"  >
                        </div>
                    </div>
                </div>
                @*Link*@





                <div class="card-footer text-end">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <button class="btn btn-light"><a href="/admin/Slides/Index">Cancle</a></button>

                </div>
            </form>
        </div>

    </div>
</div>